$primary-color: hsl(322, 100%, 66%);
$light-color: hsl(193, 100%, 96%);
$text-color: hsl(192, 100%, 9%);
$gray-color: hsl(208, 11%, 55%);

@import 'base';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'section';
@import 'footer';
